[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-utils = "*"
sqlalchemy = "*"
alembic = "*"
alembic-autogen-check = "*"
psycopg2-binary = "*"
sorcery = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]

[packages.pydantic]
extras = [ "dotenv"]
